// Подключение компонентов
@import "./header/style.scss";
@import "./footer/style.scss";

body {
  font-family: Oswald, sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.title-block {
  margin: 0 0 20px 0;

  &_one {
    font-size: 30px;
    text-transform: uppercase;
  }
  &_two {
    font-size: 25px;
    max-width: 500px;
  }
}
